/* Universal settings for all screen sizes */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #373f41;
  font-size: 1.6rem;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Nunito;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: #373f41;
}

.logo {
  color: #cf40f9;
  font-size: 3.1rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags li {
  flex-shrink: 0;
  /* margin-right: 10px; */
  border: 0.03rem solid #cecece;
  border-radius: 1.5rem;
  padding: 0.6rem 1.6rem;
  text-align: center;
  margin: auto;
}

.tag {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.tag-title {
  margin-bottom: 6.8rem;
  font-size: 4.8rem;
  text-align: center;
  color: #031634;
  letter-spacing: -0.02em;
}

.model-cards {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: space-between;
  gap: 2%;
}

.model-card {
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px #cecece;
  border-radius: 10px;
  flex: 0 0 30%;
  /* max-width: 33%; */
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1% 4.2rem 1%;
  max-height: 60rem;
  align-content: space-between;
}

.model-card img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 60%;
  flex: 0 0 60%;
  object-fit: cover;
  /* object-position: center center; */
  margin-bottom: 4.2rem;
}

.mcard-title {
  color: #031634;
  padding-left: 2.6rem;
  padding-right: 4.2rem;
  margin-bottom: 2.6rem;
}

.model-card p {
  font-size: 1.6rem;
  padding-left: 2.6rem;
  padding-right: 4.2rem;
}

/* settings for MOBILE screen */

@media screen and (max-width: 1200px) {
  body {
    font-size: 1.6rem;
  }

  .app {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  /* styling of the footer section on mobile, header on desktop */
  /* first I used position:fixed, but later found a solution using grid */

  header {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-area: footer;
    bottom: 0;
    justify-content: space-between;
    background-color: cyan;
    align-items: center;
  }

  .logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 24px;
  }

  .menu {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .menu li {
    font-size: 1.8rem;
  }

  .search {
    display: none;
  }

  .tags {
    overflow-x: scroll;
  }

  /* styling of the individual tags section on the body of the app */
  .tags::-webkit-scrollbar {
    display: none;
  }

  .main {
    grid-area: main;
    overflow: auto;
  }

  .model-cards::-webkit-scrollbar {
    display: none;
  }

  .model-cards {
    overflow: auto;
    justify-content: space-between;
  }

  .model-card {
    flex-basis: 50%;
    /* margin-right: 2rem; */
    /* margin-right: 2%; */
    flex-shrink: 0;
  }

  footer {
    display: none;
  }
}

/* DESKTOP settings */

@media screen and (min-width: 1200px) {
  .app {
    display: grid;
    grid-template-rows: auto 6rem auto 6.4rem;
    row-gap: 6.8rem;
    column-gap: 2.6rem;
    margin: 1.6rem 6.8rem;
  }

  header {
    display: grid;
    grid-template-columns: repeat(11, auto);
    column-gap: 2.6rem;
    align-items: center;
  }

  .logo {
    grid-column: 1 / 2;
    width: 15rem;
    line-height: 100%;
  }

  .tags {
    display: flex;
  }

  .search {
    display: flex;
    grid-column: 3 / 9;
    border: 0.03rem solid #cecece;
    border-radius: 10px;
  }

  .search-bar {
    box-sizing: content-box;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 10px;
    padding: 0 1.6rem;
    color: #cecece;
  }

  .search-button {
    display: none;
  }

  .menu {
    grid-column: 10 / 12;
  }

  .tag {
    /* margin: 10.1rem 0; */
  }

  .tag-title {
    margin-bottom: 6.8rem;
    font-family: "Nunito", sans-serif;
    font-size: 4.8rem;
    text-align: center;
  }

  .model-cards {
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 6.8rem;
  }

  .model-card {
    /* padding: 4%; */
    /* background-color: #dedada; */
    /* height: 60rem; */
    /* min-width: 30%; */
  }

  .model-card > p {
    /* font-size: 1.2rem; */
  }

  .mcard-title {
    /* font-size: 1.8rem; */
  }

  footer {
    display: grid;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
